.card-comments img {
  width: 4rem; }

.btn-action{
  position: absolute;
  right: 0px;
  top: 189px;
  width: 50px;
    height: 50px;
    border-radius: 35px;
    text-align: center;
    font-size: 16px;
    white-space: normal;
}

.fa-chevron-right{
  color: white;
  padding-top: 18px;
}

.card-body.contact.text-center.h-100.white-text{
  background-color: #2e3951!important
}

.carousel {
  height: 500px !important;
  margin-top: 55px;
}

.carousel-inner img {
  height: 500px !important;
  margin: 0 auto;
}

.carousel-h1{
  font-size: 34px;
  font-weight:bold;
  margin-bottom: 40px;
}

.carousel-h1:hover{
  text-decoration: underline;
}

.carousel-h2{
  font-size: 20px;
  margin-bottom: 30px;

}

.carousel-h3{
  height: 1px;
  border: 1px solid #ccc;
  width: 70px;
  margin:  40px 0px;
  display: inline-block;
}

.carousel-a p{
  border: 3px solid #ccc;
  border-radius: 30px;
  width: 100px;
  height: 50px;
  text-align: center;
  display: inline-block;
  padding-top: 10px;
  color: white;
  font-weight:bold;
  margin-bottom: 60px;
}

.carousel-a p:hover{
  background-color: white;
  color: #000;
  transition: .4s ease-out;
}

ul.navbar-nav.mr-auto {
  text-align: center;
  left: 44%;
  position: absolute;
}
.fa-paper-plane{
  color: white;
}

#messageShow{
  display: inline-block;
  text-align: center;
}
.for-error p{
  transition: .4s ease-out;
    padding-top: 6px;
    top: 134px;
    left: 95px;
    position: absolute;
    width: 80%;
    height: 20%;
}
#pagination_controls{
  text-align: center;
  display: inline-block;
  margin: auto;
}
.pg-blue .active a{
  background-color: #929fba!important
  
}
.about_text{
  text-align: center;
}

.section-title-divider {
  height: 2px;
  border: 2px solid #2e3951;
  width: 117px;
  display: inline-block;
  margin-bottom: 14px;
  margin-top: 10px;
}
a{
  color: white;
}
a:hover{
  color: white;
}
.waves-light{
  background-color: #929fba!important
}
.pressed_footer{
  position: relative;
  min-height: 100%;
}
.pre_footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.pressed_footer h2{
  margin-top: 10%;
  font-size: 72px;
}